<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <title>User Management AngularJS part</title>
</head>

<body ng-app="routeApp">
    <div class="w3-container">
        <h2>Users Management</h2>
        <a href="#/">Home Page</a>
        <a href="#/newPage/new">New User</a>
        <a href="#/editPage/1">Edit User</a>
        <br />
        <div ng-model="message"></div>
        <div ng-view> </div>
    </div>
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers.js"></script>

    <!-- Service -->
    <script src="js/usersFactory.js"></script>
</body>
</html>