<div>
<h3>User List</h3>
<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th>Edit</th>
    <th ng-click="orderBy('fName')">First Name</th>
    <th ng-click="orderBy('lName')">Last Name</th>
    <th ng-click="orderBy('title')">Title</th>
    <th ng-click="orderBy('sex')">Gender</th>
    <th ng-click="orderBy('age')">Age</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="user in users | orderBy:myOrderBy | startFrom:currentPage*pageSize | limitTo:pageSize">
    <td>
      <input type="button" class="w3-btn w3-ripple" ng-click="goEditPage('/editPage/' + user.id)" value="&#9998; Edit" />
    </td>
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td>{{ user.title }}</td>
    <td>{{ user.sex }}</td>
    <td>{{ user.age }}</td>
    <td>
      <input type="button" class="w3-btn w3-ripple" ng-click="deleteUser(user)" value="&#9998; Delete" />
    </td>
  </tr>
</table>
<div class="">
  <input type="button" ng-disabled="currentPage == 0" ng-click="currentPage=0" value="First" />
  <input type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" value="Previous" />
  {{currentPage+1}}/{{numberOfPages()}}
  <input type="button" ng-disabled="currentPage >= users.length/pageSize - 1" ng-click="currentPage=currentPage+1" value="Next" />
  <input type="button" ng-disabled="currentPage >= users.length/pageSize - 1" ng-click="currentPage=numberOfPages()-1" value="Last" />
</div>
</div>