<div style="background-color:LightGrey">
<form>
  <h3>Create New User:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" placeholder="First Name" />
  <br/>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" placeholder="Last Name" />
  <br/>
    <label>Title:</label>
    <input class="w3-input w3-border" type="text" ng-model="title" placeholder="Title" />
  <br/>
    <label>Sex:</label>
    <input class="w3-input w3-border" type="text" ng-model="sex" placeholder="Sex" />
  <br/>
    <label>Age:</label>
    <input class="w3-input w3-border" type="text" ng-model="age" placeholder="Age" />
  <br/>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password" />
  <br/>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password" />
  <br/>
  <input type="button" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="addUser()" value="&#10004; Save User" />
</form>
</div>